.recipe-card {
  transition: all 3s ease;
  padding: 20px;
  min-height: 400px;
}

.recipe-card.expanded {
  box-shadow: 2px 4px 8px #f48c06;
}

.image {
  max-width: 100%;
  border-radius: 10px;
}

.recipe-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.recipe-name.expanded {
  white-space: wrap;
}

.toggle {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.add-to-fav {
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  background-color: white;
  color: black;
  border: 3px solid #f48c06;
}

.add-to-fav.added {
  color: white;
  background-color: #f48c06;
}

.add-to-fav:hover {
  border-color: black;
}

.buttons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}


.additional-info {
  font-size: 20px;
  border-top: 2px solid #f48c06;
  padding: 10px;
  margin-top: 3px;
}